/target
/public/js
shadow-cljs.edn
.shadow-cljs
.nrepl-port

package.json
/node_modules
yarn.lock
package-lock.json

.DS_Store

/.idea
*.iml

/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.csv
/data
/.project
*.db
/log
.nrepl-history
lsyncd.exclude
todo
/logs
/.dir-locals.el
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj
