:root {
  --main-background: #fffef8;
  --highlight-background: #4e4242;
  --hover-color: #f6f3f3;
  --main-text-color: #333;
  --inverted-text-color: #fff;
  --highlight-text-color: #000;
}

body {
  background-color: var(--main-background);
  font-family: 'Poiret One', cursive;
  color: var(--main-text-color);
}

body * {
    outline: none!important;
}


/* link */
.link {
  color: var(--main-text-color);
}

.link:hover,
.link:focus {
  color: var(--main-text-color);
  outline: none;
}

.link:focus {
  text-decoration: none;
}


/* app */
.app {
  min-height: calc(100vh - 140px);
}

.app__title-link {
  display: block;
}

.app__title-link:hover {
  text-decoration: none;
}

.app__title {
  text-align: center;
  font-family: Monoton, cursive;
  font-size: 52px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.app__admin-sidebar {
  display: none;
}

@media (min-width: 768px) {
  .app__admin-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: var(--highlight-background);
  }
}

.app__admin-main {
  padding: 20px;
}

@media (min-width: 768px) {
  .app__admin-main {
    padding-right: 40px;
    padding-left: 40px;
  }
}



/* dojos-list */
.dojos-list {
  margin-top: 60px;
}

.dojos-list__title {
  background-color: var(--highlight-background);
  color: var(--inverted-text-color);
  margin-bottom: 0;
  padding: 0 20px;
  display: inline;
}

.dojos-list__events {
  border: 4px solid var(--highlight-background);
}

.dojos-list__event {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.dojos-list__event:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.dojos-list__event-link,
.dojos-list__event-link:hover {
  text-decoration: none;
}

.dojos-list__event-title {
  margin: 0;
  flex-grow: 1;
  font-weight: 400;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dojos-list__event-time {
  font-size: 18px;
  flex-shrink: 0;
  margin-left: 20px;
}



/* footer */
.footer {
  margin-top: 80px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__link {
  font-size: 20px;
}



/* admin page */
.admin-header {
    margin-top: 20px;
}

.admin-dojos__controls {
  display: flex;
  justify-content: flex-end;
}

.admin-dojos__new-text {
  margin-left: 10px;
}

.admin-dojos__list {
  margin-top: 30px;
}

.admin-sidebar {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.admin-sidebar .admin-sidebar__link > a,
.admin-sidebar .admin-sidebar__link > a:focus {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
  color: var(--inverted-text-color);
  background-color: var(--highlight-background);
}

.admin-sidebar .admin-sidebar__link > a:hover {
  color: var(--main-text-color);
  background-color: var(--hover-color);
}

.admin-dojos__dojo {
  display: flex;
  align-items: center;
}

.admin-dojos__dojo-title {
  flex-grow: 1;
}

.run-dojo-state-controls {
  display: flex;
  justify-content: space-between;
}

.run-dojo-state-controls__partition {
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.dojo-groups {
  margin-top: 40px;
}
