{:duct.profile/base
 {:duct.core/project-ns
  dojos

  :dojos/config
  {:env         #ig/ref :duct.core/environment
   :server-port 3001}

  :dojos/graphql-schema
  {:schema-file "resources/graphql-schema.edn"}

  :dojos/db
  {}

  :dojos/server.handler
  {:schema #ig/ref :dojos/graphql-schema
   :db     #ig/ref :dojos/db}

  :dojos/server
  {:config  #ig/ref :dojos/config
   :handler #ig/ref :dojos/server.handler}}

 :duct.profile/dev
 #duct/include "dev"

 :duct.profile/local
 #duct/include "local"

 :duct.profile/prod
 {:dojos/config {:server-port 3001}}}
